body {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

.h2 {
  text-align: center;
  margin-bottom: 20px;
}

.container {
  background-color:  #2575fc;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(27, 23, 23, 0.2);
  padding: 20px;
  width: 90%;
  max-width: 500px; 
}

.result-container {
  background-color: rgba(7, 7, 7, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 20px 0;
  border-radius: 5px;
}

#result {
  word-break: break-all;
  max-width: 80%;
}

.btn {
  background-color: #5cb85c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-large {
  display: block;
  width: 100%;
  font-size: 16px;
  margin-top: 20px;
}

.settings {
  padding: 10px 0;
}

.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

label {
  font-weight: bold;
}

input[type="number"],
input[type="checkbox"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


@media (max-width: 600px) {
  .container {
    padding: 15px;
  }

  .setting {
    flex-direction: column;
    align-items: flex-start;
  }

  label {
    margin-bottom: 5px;
  }
}

#clipboard{
    background-color: transparent;
    color: rgba(32, 19, 19, 0.468);
    padding: 0;
    margin:0;
}
#clipboard i{
    font-size: 1.5em;
}